
/*========  General =======*/


.padding{
  padding-top: 60px;
}

.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*========  Header =======*/

header{
  position:fixed;
  height: 60px;
  width: 100%;
  background-color: rgba(63, 39, 15, 1);
  box-shadow:0 5px 10px rgba(0,0,0,0,3);
  z-index: 500;
}

header button{
  float: right;
  margin: 10px 10px 10px 10px;
  top: 0;
}

#navigation {
  position:absolute;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 100;
}

#navigation li a {
  display:block;
  margin: 20px;
  color:#fff;
  text-transform:uppercase;
  font-size:20px;
}

#navigation li a:hover{
  color: red;
}


div#title {
  margin: 0;
  color:white;
  font-size:30px;
  padding-left: 40px;
  padding-top: 20px;
  width: 50px;
}

input{
  height: 25px;
  font-size: 18px;
  margin: auto;
  display: block;
  color:black;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 60%;
}

header a,
footer a{
  transition: color .4s;
  color: #000;
}



/*========  Item =======*/
#itemLeft{
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  width: 260px;
}
#itemMiddle{
  margin-top: 20px;
  margin-right:310px;
  margin-left: 340px;
  width: 400px;
}
#itemRight{
  float: right;;
  margin-left: 20px;
  width: 200px;
}

#itemLeft img{
  width: 300px;
  height: 400px;
}

.b-title{
  font-weight: bold;
  font-size: 30px;
}



/*========  Market =======*/

#bookshelf img{
  width: 195px;
  height: 240px;
}

.bookitem{
  width: 200px;
  height: 325px;
  font-size: 10px;
  text-align: center;
  border-color: rgba(21, 90, 126, 0.26);
  border-style: solid;
  border-width: 2px;
  margin: 10px 10px 10px 10px;
  padding: 0;
}

.booktitle {
  margin-top: 10px;
  margin-bottom: 5px;
  height: 40px;
  font-weight: bold;
  font-size: 15px;
}
.bookauthor{
  position: relative;
  bottom: 0;
}


li {
  display: inline;
  float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bookitem:hover{
  transition: background-color .6s, color .2s;
  background-color: rgba(75, 109, 134, 0.89);
  color: white;
}



/*========  Home =======*/


#banner {
  min-height: 500px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.9;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 400px;
  height: 250px;
  display: block;
  z-index: 4;
  position: relative;
  color: white;
  font-size: 20px;
}

.content{
  position: relative;
  margin-top: 50px;
  display: block;
  background-color: white;
  height: 600px;
  z-index: 7;
}




/*========  Footer =======*/

footer{
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
}

.footer-background {
  background: rgb(20, 20, 20);
  padding: 20px;
  color: #fff;
}

footer a:link,
footer a:visited { color: #265C83; }
footer a:hover   { color: #7FDBFF; }
footer a:active  {
  color: #007BE6;
}

/*========  Profile =======*/


#bookUpload {
  font-weight: bold;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}