.b-title{
  font-weight: bold;
  font-size: 30px;
}


/*========  Header =======*/

#header {
  position:fixed;
  display:block;
  background-color: black;
  width:100%;
  height:70px;
  z-index:9;
  min-width:620px;
  text-align:center;
}

.center ul{
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 630px;
}




#header.sticky #logo .label {background-color:#000;transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);}
#navigation {
  font-size:0;
  position:relative;
  top:0px;
}
#navigation li {display:inline-block;font-size:14px;width:125px;}
#navigation li a {display:block;position:relative;padding:21px 0;margin:0;color:#fff;text-transform:uppercase;font-size:0.9em;}
#navigation li span.arrow {position:relative;top:-1px;}
#navigation li span.border {position:absolute;left:0;bottom:-5px;width:0;height:5px;background-color:#fff;}

#navigation li a:hover span.border, #navigation li a.active span.border {width:100%;}




#uiview {

}

.padding{
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 75px;
}





div#title {
  margin: 0;
  color:white;
  font-size:30px;
  padding-left: 40px;
  padding-top: 20px;
  width: 50px;
}

input{
  height: 25px;
  font-size: 18px;
  margin: auto;
  display: block;
  color:black;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 60%;
}


a {
  transition: color .4s;
  color: #265C83;
}

footer a:link,
footer a:visited { color: #265C83; }
footer a:hover   { color: #7FDBFF; }
footer a:active  {
  transition: color .3s;
  color: #007BE6;
}

.link { text-decoration: none; }


/*========  Item =======*/
#itemLeft{
  float: left;
  margin-right: 20px;
  width: 260px;
}
#itemMiddle{
  margin-right:310px;
  margin-left: 320px;
}
#itemRight{
  float: right;;
  margin-left: 20px;
  width: 260px;
}

#itemLeft img{
  width: 300px;
  height: 400px;
}



/*========  Market =======*/

#bookshelf img{
  width: 180px;
  height: 220px;
  padding: 20px 20px 20px 20px;
}

#bookshlef p{
  font-size: 20px;
}

.bookitem{
  width: 200px;
  height: 280px;
  font-size: 10px;
  text-align: center;
  border-color: rgba(47, 7, 19, 0.28);
  border-style: solid;
  border-width: 1px;
  margin: 0px 0px 0px 10px;
  padding: 0px 0px 0px 0px;
}

li {
  display: inline;
  float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/*========  Home =======*/

.bgimg {
  position:absolute;
  display:block;
  width:100%;
  height: 100%;
  bottom:0;
  top:0;
  height:100%;
  overflow:hidden;
}

.pattern {
  position: absolute;
  opacity: 0.5;
  left: 0px;
  top: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#hometitle{
  font-size: 70px;
  font-family: Sans-Serif, Arial;
  color: white;
  top: 200px;
  left: 20%;
  position: absolute;
  z-index: 3;
  height: 60px;
  width: 930px;
}




/*========  Footer =======*/

footer{
  width: 100%;
  position: absolute;
  bottom:0;
  z-index: 6;
}

.footer-background {
  background: rgb(20, 20, 20);
  padding: 20px;
  color: #fff;
}

.col-right {
  padding: 0;
  text-align: right;
}

.col-right a {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  -webkit-transition: linear 0.2s;
  -moz-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  transition: linear 0.2s;
}

.col-right a:after {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  background: #fff;
  width: 0;
  height: 1px;
  -webkit-transition: linear 0.2s;
  -moz-transition: linear 0.2s;
  -o-transition: linear 0.2s;
  transition: linear 0.2s;
}

.col-right a:hover:after{
  width: 100%;
}

#bookUpload {
  font-weight: bold;
}

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}