
/*========  General =======*/
.padding{
  padding-top: 60px;
}

.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*========  Header =======*/

header{
  display: block;
  position:fixed;
  height: 60px;
  width: 100%;
  background-color: white;
  /*box-shadow:0 5px 10px rgba(0,0,0,0,3);*/
  -webkit-box-shadow: 0 4px 5px -5px black;
     -moz-box-shadow: 0 4px 5px -5px black;
          box-shadow: 0 4px 5px -5px black;
  z-index: 500;
}

header button{
  float: right;
  margin: 15px 15px 15px 15px;
  top: 0;
}

#navigation {
  position:absolute;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 100;
}

#navigation li a {
  display:block;
  margin: 20px;
  color:rgb(107, 180, 220);
  text-transform:uppercase;
  font-size:20px;
}

#navigation li a:hover{
  color: #5A78A2;
}


div#title {
  margin: 0;
  color:white;
  font-size:30px;
  padding-left: 40px;
  padding-top: 20px;
  width: 50px;
}

input{
  height: 25px;
  font-size: 14px;
  margin: auto;
  display: block;
  color:black;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 60%;
}

header a,
footer a{
  transition: color .4s;
  color: #000;
  cursor:pointer;
}



/*========  Item =======*/
#itemLeft{
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  width: 260px;
}
#itemMiddle{
  margin-top: 20px;
  margin-right:310px;
  margin-left: 340px;
  width: 600px;
}
#itemRight{
  float: left;
  width: 300px;
}

#itemLeft img{
  width: 300px;
  height: 400px;
}

.b-title{
  font-weight: bold;
  font-size: 30px;
}

.s-title {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 40px;
  width: 350px;
}

.bookstore{
  margin:5px;
  width: 100px;
  float: left;
  text-transform:uppercase;
}

.bookprice{
  width: 200px;
  float: left;
  margin: 5px;
  color: red;
}

#userMsg {
  width: 400px;
  margin-top: 20px;
  display: block;
}


/*========  Market =======*/

#marketimg{
  margin-left: 20px;
  min-width: 200px;
  width: 20%;
}

#marketsearch{
  width: 90%;
}

#bookshelf{
  width: 100%;
  display: block;
  margin-left:auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  cursor:pointer;
}

#bookshelf img{
  width: 196px;
  height: 240px;
}

.bookitem{
  width: 200px;
  height: 325px;
  font-size: 10px;
  text-align: center;
  border-color: rgba(21, 90, 126, 0.26);
  border-style: solid;
  border-width: 2px;
  margin: 10px 10px 10px 10px;
  padding: 0;
}

.booktitle {
  margin-top: 10px;
  margin-bottom: 5px;
  height: 40px;
  font-weight: bold;
  font-size: 15px;
}
.bookauthor{
  position: relative;
  bottom: 0;
}


li {
  display: inline;
  float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bookitem:hover{
  transition: background-color .6s, color .2s;
  background-color: rgba(75, 109, 134, 0.89);
  color: white;
}



/*========  Home =======*/
#tech{
  margin: 100px 30px 30px 150px;
  height: 350px;
  width: 290px;
  display: inline;
  float: left;
}

#banner {
  min-height: 500px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.9;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 400px;
  height: 250px;
  display: block;
  z-index: 4;
  position: relative;
  color: white;
  font-size: 20px;
}

.content{
  position: relative;
  margin-top: 50px;
  display: block;
  height: 600px;
  z-index: 7;
  background-color: rgba(191, 212, 218, 0.8);
}

.content img{
  float: right;
  display: inline;
  width: 40%;
  margin: 20px 200px 20px 20px;
}

.selectOrg{
  background-color: #fff;
  border-radius:5px;
  width: 178px;
  margin: 5px;
}

input[type="button"] {
    color: white;
    background-color: lightblue;
}
input[type="button"]:hover{
    background-color: #78B5CA;
}


/*========  Footer =======*/

footer{
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
}

.footer-background {
  background: rgb(20, 20, 20);
  padding: 20px;
  color: #fff;
}

footer a:link,
footer a:visited { color: #265C83; }
footer a:hover   { color: #7FDBFF; }
footer a:active  {
  color: rgb(127, 168, 193);
}

/*========  Profile =======*/

#sellBtn{
  display: inline;
  z-index: 99999;
}

.edittext{
  height: 50px;
}

#editModalTitle{
  font-weight: bold;
  font-size: 20px;
}


.uploadButton {
    -moz-appearance: button;
    -webkit-appearance: button;
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

#uploadUI{
  display: block;
}
#uploadUI img {
  width: 196px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


#greeting{
  padding: 10px 10px 10px 10px;
  width: 100%;
  height: 90px;
  color: white;
  background-color: rgba(162, 208, 212, 0.59);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

#bookUpload {
  font-weight: bold;
}

#bookshelfTitle {
  font-weight: bold;
  position: absolute;
}

#welcome {
  padding: 10px 10px 10px 10px;
  font-size: 30px;
  font-weight: bold;
  text-transform:uppercase;
}

.bookshelfHeader {
  position: fixed;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.entryError {
  font-style: italic;
  color: grey;
  font-size: 13px;
}

.link .editNote {
  position: relative;
  bottom: 200px;
  visibility: hidden;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;
  transition: background-color .6s, color .2s;
  background-color: rgba(75, 109, 134, 0.89);
}

.link:hover .editNote {
  visibility:visible;
}


.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:fixed;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:30px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}