<div class = 'padding'>
  <div id = 'itemLeft'>
     <img src= {{book.img}} >
  </div>

  <div id = 'itemMiddle'>
    <div class="b-title"> {{book.title}} </div>
    <div class="m-title">by {{book.author}} (Author)</div>
    <div class="s-title" ng-repeat="price in prices">
      <span class="bookstore">{{price.store_id}}</span>
      <span class="bookprice">${{price.price}}</span>
    </div>
  </div>

  <div id= 'itemRight'>
    <p>Seller's asking price: {{ book.askingPrice | currency }}</p>
    <button ng-click="toggleModal()" class="btn btn-default">Send Offer</button>
  </div>

  </div>
<div>

<modal show='modalShown' width='450px' height='30%'>
  <form ng-controller="MailController">
      <div class="offerModal">
        <label for="offer">How much would you like to offer for this book?</label>
          <input type="text" id="offer" placeholder="Offer price?" ng-model="offer" />
        <button class="btn btn-default" ng-click="sendMail()">Send Mail</button>
      </div>
  </form>
</modal>


