
<div class="padding market">
  <img id='marketimg' src=" {{marketimg}} ">
  <input id='marketsearch' type="text" ng-model="search" placeholder="Search by title/author/isbn">
  <div id='bookshelf'>
    <ul>
      <li class='bookitem' ng-repeat="book in books | filter:search">
        <a ng-click="findDetail(book)">
          <img src=" {{book.img}} ">
          <p class="booktitle"> {{ book.title }} </p>
          <p class="bookauthor"> {{ book.author}} </p>
        </a>
      </li>
    </ul>
  </div>
</div>
