<div ng-controller="profileController" class="container">
  <button ng-click="toggleModal()" class="btn btn-default">Sell</button>
  <div modal-show="showDialog" class="modal fade">

  <modal title="bookUpload" show='modalShown'>

    <form role="form">
      <h1 id="bookUpload">Enter book information here!</h1>
      <div class="form-group">
        <input type="text" placeholder = 'Book Image Url' ng-model= 'bookimgurl'>
        <input type='text'  placeholder = 'Book Title' ng-model = 'booktitle'>
        <input type="text" placeholder = 'Author' ng-model= 'author'>
        <input type="text" placeholder = 'Subject' ng-model= 'booksubject'>
        <input type="text" placeholder = 'ISBN number' ng-model= 'isbn'>
      </div>
    </form>
    <button class="btn btn-default" id='sellButton' class="md-trigger" ng-click="open()">Sell</button>
  </modal>
  </div>
</div>